.cta {
	background: no-repeat center center;
	background-size: cover;
	position: relative;
	color: $white;
	padding-bottom: 10 rem!important;

	&:before {
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background: rgba($blue, .9);
		top: 0;
		left: 0;
	}

	&__container {

	}

	&__title, &__btn {
		position: relative;
		z-index: 10;
	}

	&__title {
		margin-top: 0;
		padding-bottom: 3rem;
		text-transform: uppercase;
		letter-spacing: .1rem;
	}

	&__row {
		position: relative;
		margin-top: 5rem;
	}

	&__form {
		@include above (sm) {
			position: absolute;
			z-index: 10;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}