/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	background: $blue;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__item {
		color: $white;
		
		p {
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		position: relative;
		display: inline-block;
		padding-bottom: 1rem;
		text-transform: uppercase;
		letter-spacing: .1rem;

		@include below (sm) {
			margin-top: 1rem;
			font-size: 16px;
		}

		&:after {
			width: 100%;
			content: '';
			position: absolute;
			border: solid $green 2px;
			border-image-source: $gradient;
        	border-image-slice: 1;
        	bottom: 0rem;
        	left: 0;
		}
	}
}
