/**
 * Form wrapper
 **/

.gform {

	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
		background: $blue;
		padding: 1.5rem;
		box-shadow: 0px 0px 28px rgba($blue, .69);
		border-radius: 7px;
	}

	&_body {
		width: 100% !important;
	}

	// List of fields (reset from entry.scss)
	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		color: $white;
		margin: 0 !important;
		display: inline-block;
		padding: .5rem 4rem!important; 
		border: none;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease;
		background: transparent;
		border: solid $green 3px;
		color: $white;
		border-image-source: $gradient;
        border-image-slice: 1;
        position: relative;

        span {
        	z-index: 10;
        	position: relative;
        }

        &:after {
        	width: 0%;
        	height: 100%;
        	position: absolute;
        	top: 0;
        	left: 0;
        	background: $gradient;
        	transition: all ease .3s;
        	content: '';
        	z-index: 1;
        }

        &:hover {
        	color: $blue;

        	&:after {
				width: calc(100% + 3px);
        	}
        }
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		width: 100% !important;
		padding: .8rem !important;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		border-radius: 0;
		transition: all 0.3s ease;
		color: $blue;

		&:hover {

		}

		&:focus {

		}
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gf_right_half, .gf_left_half {

	@media (min-width: 640px) {
		width: calc(50% - 1rem)!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: 2rem!important;
	}	
}
