/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: relative;
  background: $blue;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  
  &__logo {
    display: block;
    float: left;

    img {
    width: 200px;
    height: 33px;

     @include above (sm) {
      	width: 245px;
      	height: 41px;
  	  }
    }
  }
}