/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {
  background-repeat: no-repeat; 
  background-position: right center;

  @include below (md) {
    background-size: 0;
  }

  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
      margin-top: 0;
      text-transform: uppercase;
      letter-spacing: .1rem;
  }

  &__col {
	
	@include above (sm) {
  		&.first {
  			p:last-child {
			    margin-bottom: 0;
			 }
  		}
  	}
	
    	&.last {
    		p:last-child {
    			margin-bottom: 0;
    		}
    	}

      &--1 {
      h2 {
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: .1rem;
      }
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
     padding-bottom: 6rem; 
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {

    }
  }
}

.blue--bg {
  color: $white;
}

.none--bg {
  color: $blue;
}