.slider {
	position: relative;

	&__list {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 40%;

			@include above (lg) {
				padding-bottom: calc(80vh - 104px);
			}
		}

		&:after {
			background: rgba($blue, .9);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			content: '';
			z-index: 2;
		}
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__title {
		color: $white;
		margin-top: 0;
		text-transform: uppercase;
		letter-spacing: .1rem;
	}

	&__text {
		color: $white;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;

		p {
			margin-bottom: 0;
		}

		@include above (sm) {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}

	&__scroll {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) rotate(90deg);
		color: $green;
		bottom: 3.6rem;
		z-index: 100;
		text-transform: uppercase;

		@include below (md) {
			display: none;
		}

		&:before {
			width: 2.5rem;
			height: 3px;
			position: absolute;
			content: '';
			left: 50%;
			transform: translateX(-50%);
			background: $gradient;
			left: 4.7rem;
			bottom: .7rem;
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}