.text_img {
	position: relative;

	&__title {
		text-transform: uppercase;
		letter-spacing: .1rem;

		@include below (sm) {
			margin-top: 0;
		}
	}

	&__img {
		padding: 0;

		@include below (sm) {
			display: none;
		}

		@include above (sm) {
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
		}

		&.right {
			right: 0;
		}
	}
}