.btn {

	&--gradient {
		border: solid $green 3px;
		color: $white;
		border-image-source: $gradient;
        border-image-slice: 1;
        padding: .5rem 2rem; 
        position: relative;

        &:after {
        	width: 0%;
        	height: 100%;
        	position: absolute;
        	top: 0;
        	left: 0;
        	background: $gradient;
        	transition: all ease .3s;
        	content: '';
        	z-index: -1;
        }

        &:hover {
        	color: $blue;

        	&:after {
				width: calc(100% + 3px);
        	}
        }
	}
}